<h2 class="text-center text-primary">User Login</h2>
<div class="form-content">
  <div class="row">
    <div class="col-md-8 mx-auto">
          <div class="alert alert-danger" role="alert" *ngIf="loginErr">
            {{loginErr}}
          </div>
        <hr>
        <form (ngSubmit)="onLogin()" [formGroup]="myForm">
          <div class="form-group">
            <label for="username">Username<span style="color: red;">*</span> :</label>  
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="username"
                name="username"
                formControlName="username"
                />
              <small *ngIf="myForm.get('username').invalid && myForm.get('username').touched"
              class="text-danger">Please enter a valid username!</small>
          </div>
          <div class="form-group">
            <label for="password">Password<span style="color: red;">*</span> :</label>
            <input 
                type="password" 
                class="form-control" 
                [(ngModel)]="password"
                name="password"
                formControlName="password"
                />
                <small *ngIf="myForm.get('password').invalid && myForm.get('password').touched"
                class="text-danger">This field can't be left empty!</small>
          </div>
          
          <button 
            type="submit" 
            class="btn btn-outline-primary mr-3"
            >Login</button><br><hr>
           
          </form>
          <a routerLink="/register">New User? Click here to Register!</a>
    </div>
  </div>
</div>
