<h2 class="text-center text-primary">User Login</h2>
<div class="form-content">
  <div class="row">
    <div class="col-md-8 mx-auto">
          <div class="alert alert-danger" role="alert" *ngIf="loginErr">
            {{loginErr}}
          </div>
        <hr>
        <form>
          <div class="form-group">
            <label for="">Username<span style="color: red;">*</span> :</label>  
            <input 
                type="text" 
                class="form-control" 
                placeholder="Username" 
                value="" 
                required
                [(ngModel)]="username"
                name="username"
                />
          </div>
          <div class="form-group">
            <label for="">Password<span style="color: red;">*</span> :</label>
            <input 
                type="password" 
                class="form-control" 
                placeholder="Password" 
                value="" 
                required
                [(ngModel)]="password"
                name="password"
                />
          </div>
          
          <button 
            type="button" 
            class="btn btn-outline-primary mr-3"
            (click)="onLogin()"
            >Login</button><br><hr>
           
          </form>
          <a routerLink="/register">New User? Click here to Register!</a>
    </div>
  </div>
</div>
