<div *ngIf="account; else notLogin">
    <h1>Welcome {{account.name}}</h1><span (click)="onLogOut()">Logout</span>
    <hr>
    <button type="button" class="btn btn-outline-primary" routerLink="/user-edit">Update Profile</button>
</div>
<ng-template #notLogin>
    <div class="row justify-content-center">
        <h1>You're not login yet!</h1>
    </div>
    <div class="row justify-content-center mt-3">
        <button type="button" class="btn btn-success" routerLink="/login">Click here to go to Login Page</button>
    </div>
</ng-template>
