<a class="btn btn-primary" role="button" (click)="onCloseEdit()">
  <fa-icon class="text-white" [icon]="goBackIcon"></fa-icon>
  Go back to admin panel
</a>
<br>
<div class="container mt-5">
  <div class="alert alert-primary" role="alert">
    <h2 class="text-center">
      Admin Profile Information
    </h2>
  </div>
  <hr>
  <form (ngSubmit)="onUpdate()" [formGroup]="editForm">
    <div class="row">
      <div class="col-5">
        <div class="container">
          <div class="row mb-3">
            <div class="col-4">
              <h3>Username: </h3>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" formControlName="username" [attr.disabled]=true>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <h3>Name: </h3>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" formControlName="fullname">
              <small *ngIf="editForm.get('fullname').invalid && editForm.get('fullname').touched"
                class="text-danger">This field is required</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <h3>Email: </h3>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" formControlName="email">
              <small *ngIf="editForm.get('email').invalid && editForm.get('email').touched"
                class="text-danger">This field is required</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <h3>Phone: </h3>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" formControlName="phone">
              <small *ngIf="editForm.get('phone').invalid && editForm.get('phone').touched"
                class="text-danger">This field is required</small>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-1 col-6">
        <div class="container">
          <div class="row mb-3">
            <div class="col-4">
              <h3>Gender: </h3>
            </div>
            <div class="col-8">
              <div id="genderip">
                <div class="form-check-inline" *ngFor="let gender of genders">
                  <label [for]="gender" class="ml-2">
                    <input type="radio" [value]="gender" [id]="gender" formControlName="gender"> {{gender | titlecase}}
                  </label>
                </div>
              </div>
              <span class="col-8 offset-4"
                *ngIf="editForm.get('gender').invalid && editForm.get('gender').touched"
                class="text-danger">Select your gender!</span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <h3>DOB: </h3>
            </div>
            <div class="col-8">
              <div class="input-group">
                <input class="form-control" placeholder="Click this button to select =>" formControlName="dob"
                  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary text-primary calendar" (click)="d.toggle()" type="button">
                    <fa-icon [icon]="dateIcon"></fa-icon>
                    Select
                  </button>
                </div>
                <small *ngIf="editForm.get('dob').invalid && editForm.get('dob').touched" class="text-danger">Date
                  of birth is required, and birth's year should be smaller than current year</small>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <h3>Age Group: </h3>
            </div>
            <div class="col-8">
              <select class="form-control" formControlName="ageGroup">
                <option *ngFor="let ageGroup of ageGroups" [value]="ageGroup">{{ageGroup}}</option>
              </select>
              <small *ngIf="editForm.get('ageGroup').invalid && editForm.get('ageGroup').touched"
                class="text-danger">This field is required, and your selected age
                group has to match with date-of-birth!</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="">
        <button type="submit" class="btn btn-outline-primary mr-4">Update profile</button>
        <button type="button" class="btn btn-outline-warning mr-4" (click)="onReset()">Reset</button>
        <button type="button" class="btn btn-outline-danger" (click)="onCloseEdit()">Close (Discard changes)</button>
      </div>
    </div>
    <br><br>
  </form>
</div>
